*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('education photo.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 61px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;

}
.text-box p{
    margin: 10px 0 20px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
#tommy{
    color: #090909;
    border: 1px solid #171515;
    margin-bottom: 1px;
    font-size: 13px;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .row{
        flex-direction: column;
    }
    .testimonial-col img{
        margin-left: 5px;
        margin-right: 30px;
    }
    .cta h1{
        font-size: 24px;
    }
          
}
.course{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 5%;
    padding: 30px 30px;
    box-sizing: border-box;
    border-collapse: separate;
    border-spacing: 500px;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.services-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.services-col img{
    width: 30%;
}
.university{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 130px;
} 

/* ------------------------------------predictot home---------------------------------------------------- */


.pred{
    margin-top:200px ;
    background-color: #15253a;
    
 }
 .row2{
     display: flex;
 }
 .pred h1{
     font-weight: 800;
     font-size: 40px;
     color: white;
     padding-top: 100px;
 }
 .col-p{
     
     padding-left: 100px;
     
     
 }
 
 .col-p img{
     max-width: 90%;
     padding-left: 30px;
 }
  .col-p h3{
     color: white;
     font-size: 20px;
     padding-left: 10px;
 
 }
 .col-p p{
     color: white;
     font-size: 20px;
 }


 /* ----------------------------------- Steps------------------------------------------------------------ */

 .steps
 {
    
    align-items: center;
    justify-content: center;
    /* display: flex; */
    padding: 100px;
    background-color: #0d215378;
  
 
} 
.steps h1{
    font-weight: 800;
    font-size: 40px;
    color: white;
}
h1{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 50px;
}
.workcard_container{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 180px;

}
.workcard_container .workcard
{
    position: relative;
    max-width: 200px;
    height: 100px;
    box-shadow: 0px 5px 20px rgb(0, 0, 0,0.5);
    transition: 0.3s ease-in-out;
 
  margin-left: auto;
  margin-right: auto;
  padding: 20px 15px;
    background: #fff;
     background:#FAAE42 ;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 10px;

}
.workcard:hover{
    height: 250px;  
    border: 1px solid #ffffff;
    background:   #ffffff ;
  
}

.workcard_container .workcard .imgbox
{
     position: relative;
    width: 80%;
    height: 80%;
 
    z-index: 99;
    top: -60px;
    left: 20px;
}
.workcard_container .workcard .imgbox img {
    max-width: 100%; 
     border-radius: 10px; 
     box-shadow: 0px 5px 20px rgb(0, 0, 0,0.5);
}
.workcard_container .workcard .content
{
    position: relative;
    margin-top: -80px;
 
    padding: 10px 15px;
  text-align: center;
 
  color: #333;
  visibility: hidden;
   opacity: 0;
    transition: 0.3s ease-in-out;
}
.workcard:hover > .content{
    visibility: visible;
   opacity: 1;
   margin-top: -40px;
   transition-delay: 0.3s;
 
}
.workcard_container p{
     font-size: 20px;
  font-weight: 100px;
  color: #012C6D;
}
.content h2{
    color: #012C6D;
}
/* ------------------------------------testimonials------------------------------------------------------ */
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
/* .testimonial-col .fa{
    color: ;
} */
/*-------------------------------------------- */
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('disc-transformed.png.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}




/* --------About Us page------- */
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('ssc1.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 10px;
}
.about-us{
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    background-color: rgba(0,0,0,.2);
    background-image: linear-gradient(rgba(41,59,105,.3),rgba(41,59,105,.7));
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}
.about-col{
    flex-basis: 50%;
    padding: 100px 50px;
   
}
.about-col img{
    width: 100%;
    min-height: 100%;
    position: relative;
    width: 100%;
    min-width: 107%;
    max-width: 100%;
    background-position: 50%;
    background-repeat: repeat;
    background-size: cover;
}
.bnr_contnt p {
    color: #293c6a;
    display: block;
    font: normal normal normal 20px/26px Open Sans;
    margin: 0;
    min-height: 16px;
    white-space: pre-wrap;
}
.bnr_contnt h1 {
    color: #293c6a;
    font: normal normal 600 60px/42px Rokkitt;
    margin: 0;
    padding: 0 0 8px;
}
.bnr_contnt .bnr_cont_pad {
    background: #fff;
    margin: 46px 0 16px;
    max-width: 374px;
    min-width: 300px;
    padding: 46px 36px;
    position: relative;
    width: 100%;
    width: 120%;
    z-index: 1;
}
/* .bnr_img .banner-overlay {
    background-color: rgba(0,0,0,.2);
    background-image: linear-gradient(0deg,rgba(41,59,105,.3),rgba(41,59,105,.7));
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
} */
/* .bnr_img {
    min-height: 20%;
    position: relative;
    width: 20%;
} */
.fe {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Feather!important;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
}
.py-8 {
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
}
.border-2 {
    border-width: 2px!important;
}
.border-bottom {
    border-bottom: 1px solid #f1f4f8!important;
}



/* ----------------------------------Login---------------------------------------------- */

.logcontainer{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
   
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image:
    linear-gradient(rgba(245, 246, 252, 0.52), #041546b7),
    url('image.jpg');
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: center;
}

.card{
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;
}

.inner-box{
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 1s;
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(rgba(2, 14, 33, 0.89),rgba(1, 44, 109, 0.473));
    padding: 37px;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.card-back{
    transform: rotateY(180deg);
}
.card h2{
    font-weight:  normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.input-box{
    width:100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 6px 0;
    height: 32px ;
    border-radius: 20px;
    padding:  0 10px;
    box-sizing:  border-box;
    outline:  none;
    text-align: center;
    color: #fff;
}
::placeholder{
    color: #fff;
    font-size: 12px;
}
/* button{
    width:100%;
    background: transparent;
    border:  1px solid #fff;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 12p;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
} */
.submit-btn_login{
    position:relative;
    width:100%;
    background: transparent;
    border:  1px solid #fff;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 12p;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.submit-btn_login:hover{
    border: 2px solid #faae42;
    background: #FAAE42;
    transition: 1s;
}
.submit-btn_login::after{
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
}
.logcontainer span{
    font-size: 13px;
    margin-left: 10px;
}

.card .btn{
    margin-top: 70px;
    width:100%;
    background: transparent;
    border:  1px solid #fff;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 12p;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.card a{
     color: #fff;
     text-decoration: none;
     display: block;
     text-align: center;
     font-size: 13px;
     margin-top: 8px;
}



/* -------------------------------PREDICTOR-------------------------------------------- */

.predictor{
    background-image:
    linear-gradient(rgba(245, 246, 252, 0.52), #041546b7),
    url('image.jpg');
    width: 100%;
    background-size: cover;
    background-position: center;  
       
}

.predictor h1{
    width: 800px;
    background-image:linear-gradient(rgba(1, 44, 109, 0.89),rgba(1, 44, 109, 0.473));
    margin-top:50px;
    color: #fff;
    padding: 10px 0px 10px 0px;
    border-radius: 60px 60px 0px 0px;
    text-align: center;
}

.main{
    background-image:linear-gradient(rgba(109, 147, 205, 0.421),rgba(14, 36, 69, 0.413));
    border-radius: 0 0 60px 60px;
    width: 800px;
    margin: auto;
}
form{
    padding: 10px;
}

.name{
    margin-left:25px ;
    margin-top: 30px;
    width: 200px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.name output{
    color: white;
}
.firstname{
    position : relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.lastname{
    position : relative;
    left: 417px;
    top: -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    
}
.firstlabel{
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left: 203px;
    top: -45px;
}
.lastlabel{
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left: 510px;
    top: -76px;
}

.email{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 500px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.code{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 50px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.number{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 200px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.phone-number{
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left: -50px;
    
}
.option{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 530px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    outline: none;
    overflow: hidden;
}
#gender{
    margin-left: 25px;
   
    color: white;
    font-size: 18px;
}
.radio{
    display: inline-block;
    padding-right: 70px;
    font-size: 18px;
    margin-left: 25px;
    margin-top: 15px;
    padding-bottom: 50px;
    color: white;
}
.radio input{
    width:20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.title{
    
    margin-left:25px ;
    margin-top: 30px;
    width: 400px;
    color: white;
    font-size: 30px;
    font-weight: 200;
    padding-bottom: 10px ;
}
.ssc{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 100px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}


.hsc{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 100px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.cet{
    position: relative;
    left: 200px;
    top:-65px;
    line-height: 40px;
    width: 100px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.predict{
   margin: 30px;
   align-items: center;
}

/* .pred{
    margin-top:200px ;
    background-color: #03989E;
    
 }
 .row2{
     display: flex;
 }
 .pred h1{
     font-weight: 800;
     font-size: 40px;
     color: white;
     padding-top: 100px;
 }
 .col-p{
     
     padding-left: 100px;
     
     
 }
 
 .col-p img{
     max-width: 90%;
     padding-left: 30px;
 }
  .col-p h3{
     color: white;
     font-size: 20px;
     padding-left: 10px;
 
 }
 .col-p p{
     color: white;
     font-size: 20px;
 }
  */



  /* ------------------------------------------------------------output result----------------------------------- */


  .predictor-res{
   
    background-image:
    linear-gradient(rgba(245, 246, 252, 0.52), #041546b7),
    url('image.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
       
}

.predictor-res h1{
    width: 1000px;
    background-image:linear-gradient(rgba(1, 44, 109, 0.89),rgba(1, 44, 109, 0.473));
    margin-top:50px;
    color: #fff;
    padding: 10px 0px 10px 0px;
    border-radius: 60px 60px 0px 0px;
    text-align: center;
}
.predictor-res h2{
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding: 40px 0px 0px 0px;
}

.predictor-res .main{
    background-image:linear-gradient(rgba(1, 44, 109, 0.89),rgba(1, 44, 109, 0.473));
    border-radius: 0 0 60px 60px;
    
    width: 1000px;
    margin: auto;
}
.col-r{
    display: flex;
}
.main img{
    width: 40%;
    
   position:relative;
   -webkit-animation:glide 1s ease-in-out alternate infinite;
}
@-webkit-keyframes glide  {
    from {
       left:0px;
       top:0px;
    }
    
    to {
       left:0px;
       top:30px;
    }
 
 }

form{
    padding: 10px;
}
.predictor-res .result
{
    display: flex;
    
    
}
.predictor-res h3
{
       
    font-size: 24px;
    color: #FAAE42;
    text-shadow: 2px 2px 30px #ffffff;
    
}
.colleges{
    
    padding: 50px; 
}
.predictor-res .result h4
{
    
    font-size: 18px;
    color: white;
    font-weight: 600;
    padding-bottom: 2;  
    min-height: 150px;
    
}


/* -----------------------------------------Loading--------------------------------------------------------- */

.loading{
    margin: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.loading .l span{
    width: 25px;
    height: 25px;
    margin: 0 5px;
    background-color: #012C6D;
    border-radius: 50%;
    display: inline-block;
    animation-name: dots;
    animation-duration: 2s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.loading span:nth-child(2){
    background-color: #073c3ea7;
    animation-delay: 0.4s;
}
.loading span:nth-child(3){
    background-color: #1b100224;
    animation-delay: 0.8s;
}
@keyframes dots{
    50%{
        opacity: 0;
        transform: scale(0.7) translateY(10px);
    }
}



/* -------------------------------------footer----------------------------------------- */

.footer{
    padding: 100px 20px;
    background-color: #5b5c5e;
    color: #ffffff;
}
.contain{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px
}
.rowp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.footer-logo{
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.col {
    text-align: justify;
    width: 150px;
    
   
}
.col-md-3{
    cursor: pointer;
}
.footer .col-md-3 ul li :hover{
    color: #FAAE42;
   transition-delay: 0.1s;
}
.col-md-3 ul li{
    list-style: none;
 
    position: relative;
    
}
.col-md-3 ul li a{
    color: #012C6D;
    background: rgba(255, 255, 255, 0.3);
    
    text-decoration: none;
    font-size: 18px;
}

.col img {
    display: block;
    margin: 0 auto;
   
}   
.footer p{
    font-size: 12px;
    color: #c1c6ca;
    
    
}
.footer .row .fab{
    padding-right: 20px;
    font-size: 15px;
}
.footer hr{
    margin-top: 50px;
    background: #909296;
}
.footer .copyright{
    text-align: left;
}


/* ----------------------------------------contact us---------------------------------- */

.contact-us{
    width: 80%;
    margin: auto;
    padding-top:80px ;
    
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px ;
}

.contact-col div{
    display:flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col .fab{
    font-size: 28px;
    color:#FAAE42 ;
    margin:10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 400;
}
.contact-col ::placeholder{

    color: rgb(0, 0, 0);
    font-size: 12px;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}
.rowt{
    margin-top: -80px;
    padding: 10px;
}




/* ----------------------------------------comps content------------------------------------------ */

.Branches-us{
    width: 80%;
    margin: auto;
    padding-top:80px ;
    padding-bottom: 50px;
}
.Branches-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.Branches-col img{
    margin: 50px;
    width: 80%;
}
.Branches-col h1{
    padding-top: 0;
}
.Branches-col p{
    margin: 50px;
    padding: 50px 0 0;
    text-align: justify;
    font-size: 20px;
    font-weight: 200px;
    color: #000;
}

/* ------------------------------------404--------------------------------------- */

.notfound{
    
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(245, 246, 252, 0.52), #041546b7);
   display: flex;
    align-items: center;
  
    justify-content: center;
}  
.notfoundwapper{
     text-align: center;
    
}
.notfoundwapper h2{
 margin: 40px 0;
 font-size: 2.5rem;
}
.notfoundwapper img{
    width: 600px;
    max-width: 80%;
}
.notfoundwapper h4{
    margin: 40px 0 20px;
    font-size: 1.2rem;
}
.a{
    padding: 15px;
    background-color: #012C6D;
    color: #fff;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 6px;
    cursor: pointer;
}

.notfoundwapper .a:hover {
    background: #FAAE42;
}

