/* Reset some default styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html, body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply basic styling */
/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
} */

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('education photo.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 61px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;

}
.text-box p{
    margin: 10px 0 20px;
    font-size: 14px;
    color: #fff;
}

/* header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav a {
    color: whitesmoke;
    text-decoration: none;
} */
.box1{
    margin: 0;
    padding: 0;
    position: relative;
    
}

/* #hero {
    background-image: url('education photo.jpg');
    background-size:cover;
    text-align: center;
    padding: 100px 100px;
    color: #fff;
    height: 600px;
} */

#hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color:#f4f4f4;
    text-decoration: none;
    border-radius: 5px;
}

#about, #services, #contact {
    padding: 60px 0;
    background-color: #fff;
}

#about h2, #services h2, #contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

#services ul {
    list-style: square;
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
