<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="../css/c.css">
</head>
<body>
    <section class="header">
        
    <section class="course" id="Branch">
        <h1>Know more about</h1>
             <div class="row">
                <div class="wrapper">
                    <div class="item">
                        <a href="/courses/comps">
                    <img src="../images/engineer (1).png" >
                    <br>
                    Computer Engineering
                    </a>
                    </div>
    
                    <div class="item">
                        <a href="/courses/IT">
                    <img src="../images/laptop.png" >
                    <br>
                    Information Technology
                    </a>
                    </div>
                    <div class="item">
                        <a href="/courses/E&T">
                    <img src="../images/antenna.png" >
                    <br>
                    Electronics And <br> Telecommunication
                    </a>
                    </div>
                    
                    <div class="item">
                        <a href="/courses/electronics">
                    <img src="../images/cpu.png" >
                    <br>
                    Electronics Engineering
                    </a>
                    </div>
    
                    <div class="item">
                        <a href="/courses/AI">
                    <img src="../images/artificial-intelligence.png" >
                    <br>
                    Artifical Intelligence
                    </a>
                    </div>
    
                    <div class="item">
                        <a href="/courses/civil">
                    <img src="../images/architect.png" >
                    <br>
                    Civil Engineering
                    </a>
                    </div>
                
                    
                    
                </div>
                
             </div>
    
    </section>
</section>
    
</body>
</html>