<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="c.css">
</head>
<body>
    <section class="header">
        
    <section class="course" id="Branch">
        <h1>Know more about medical courses</h1>
             <div class="row">
                <div class="wrapper">
                    <div class="item">
                        <a href="MBBS.html">
                    <img src="images/engineer (1).png" >
                    <br>
                    Bachelor of Medicine<br> Bachelor of Surgery 
                    </a>
                    </div>
    
                    <div class="item">
                        <a href="BAMS.html">
                    <img src="images/laptop.png" >
                    <br>
                    Bachelor of Ayurvedic <br> Medicine and Surgery
                    </a>
                    </div>
                    <div class="item">
                        <a href="BHMS.html">
                    <img src="images/antenna.png" >
                    <br>
                    Bachelor of Homeopathic <br> Medicine and Surgery
                    </a>
                    </div>
                    
                    <div class="item">
                        <a href="BPT.html">
                    <img src="images/cpu.png" >
                    <br>
                    Bachelor of Physiotherapy
                    </a>
                    </div>
    
                    <div class="item">
                        <a href="BNYS.html">
                    <img src="images/artificial-intelligence.png" >
                    <br>
                    Bachelor of <br> Naturopathy and Yoga
                    </a>
                    </div>
    
                    <div class="item">
                        <a href="BSMS.html">
                    <img src="images/architect.png" >
                    <br>
                    Bachelor of Siddha <br> Medicine and Surgery
                    </a>
                    </div>
                
                    
                    
                </div>
                
             </div>
    
    </section>
    <section class="exam">
        <h1>Know more about medical exams</h1>
        <div class="row">
           <div class="wrapper">
               <div class="item">
                   <a href="MBBS.html">
               <img src="images/engineer (1).png" >
               <br>
               NEET
               </a>
               </div>

               <div class="item">
                   <a href="BAMS.html">
               <img src="images/laptop.png" >
               <br>
               NEET PG
               </a>
               </div>
               <div class="item">
                   <a href="BHMS.html">
               <img src="images/antenna.png" >
               <br>
               INI CET
               </a>
               </div>
               
               <div class="item">
                   <a href="BPT.html">
               <img src="images/cpu.png" >
               <br>
               AIIMS PARAMEDICAL
               </a>
               </div>

               <div class="item">
                   <a href="BNYS.html">
               <img src="images/artificial-intelligence.png" >
               <br>
               AIIMS NURSING
               </a>
               </div>

               <div class="item">
                   <a href="BSMS.html">
               <img src="images/architect.png" >
               <br>
               GPAT
               </a>
               </div>
           
               
               
           </div>
           
        </div>

    </section>
</section>
    
</body>
</html>